<html>

	<head>
	<meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

        <link rel="stylesheet" href="stylesheets/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
        <div class="menu">
                <div class="menuTitle">
                    <h3>learningequality/kolibri</h3>

                    <div>
                        Pull Request #619 66eli77<br>
                        Build #2287: exercise-attempts progress
                    </div>
                </div>
                <table>
                    <tr>
                    <td>
                        2 visual changes<br>
                        5 total states
                    </td>
                    <td>
                        <button class="menuButtons">
                            Windows 7 IE 9
                        </button>
                    </td>
                    <td>
                        <button class="menuButtons">
                            Sort by Diff%
                        </button>
                    </td>
                    <td>
                        <button class="menuButtons">
                            List View
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listContainer">
            <h2> List of States </h2>

                <table>
                    <tr class="listItem">
                        <td>
                            <h4> State Name 1</h4>
                            <p> description text about the state</p>
                        </td>
                        <td>
                            Perceptual Diff 45.9%
                        </td>
                    </tr>
                    <tr class="listItem">
                        <td>
                            <h4> State Name 2</h4>
                            <p> description text about the state</p>
                        </td>
                        <td>
                            Perceptual Diff 4.9%
                        </td>
                    </tr>
                    <tr class="listItem">
                        <td>
                            <h4> State Name 3</h4>
                            <p> description text about the state</p>
                        </td>
                        <td>
                            Perceptual Diff 22%
                        </td>
                    </tr>
                </table>
        </div>
		Welcome to the HookCatcher index &#128076;		
	</body>

</html>