.DS_STORE
*.pyc
*.pem
*.rdb
*.sublime-workspace
*.sublime-project
HookCatcher/user_settings.py
node_modules/
HookCatcher/media
HookCatcher/logfile
chart/hookcatcher/values.yaml

# pipenv files
Pipfile
.venv
