html, body
{
    width: 100%;
    height: 100%;
}

div
{
    box-sizing: border-box;
}

table, tr
{
    width: 100%;
}

.menu
{
    background-color: orange;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem ;
}

.menuTitle
{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.menuDetail
{
    display: flex;
    justify-content: space-between;
}

.menuDetail button
{

}

.listContainer
{
    margin: 0 auto;
    width: 80%;
}

.listItem
{
    width:100%;
    background-color: rgb(160, 219, 175);/*light green*/
    border: .1rem solid black;
}

.listItem td
{
    padding: 1rem;
}

.listItem td:nth-child(2)
{
    text-align: right;
}

.menuButtons
{
    padding: 0rem 1rem;
}

.git_commit_text
{
    font-size: .75rem;
    color: blue;
}

.imgScreenshot
{
    border: .1rem solid black;
    margin: 2rem auto;
}