html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

div
{
    box-sizing: border-box;
}

table, tr
{
    width: 100%;
}

a
{
    color:#0077be;
}

a:visited
{
    color:#0077be;
}

.menu
{
    background-color: orange;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem ;
}

.menuTitle
{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.menuDetail
{
    display: flex;
    justify-content: space-between;
}

.menuDetail button
{

}

/* Dropdown Menu for resolutions */
.dropdown
{
    position: relative;
    display: inline-block;
}

.resDropdown
{
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;

    background-color: white;
    border: 0.1rem solid black;
}

.resDropdown a
{
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
}

.show
{
    display: block;
}


/* List style for listing database info */
.listContainer
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.listItem
{
    width:100%;
    background-color: rgb(160, 219, 175);/*light green*/
    border: .1rem solid black;
}

.listItem td
{
    padding: 1rem;
    text-align: left;
}

.listItem td:nth-child(2)
{
    text-align: right;
}

.menuButtons
{
    padding: 1rem 1rem;
}

.thumbnail img
{
    width: 10rem;
}

.git_commit_text
{
    font-size: .75rem;
    color: blue;
    word-wrap: break-word;
}

.imgScreenshot
{
    border: .1rem solid black;
    margin: 2rem auto;
    max-width: 100%;
    height: auto;
    justify-content: center;
}

/* diff.html related */

.diffContent
{

}

.diffContainer
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.diffHalf
{
    width: 49.9%;
    display: block;
}

.diffHalf img
{
    width: 100%;
    border: 1px solid black;
}

.diffHalf p
{
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    border: 1px solid black;
}

.diffBody{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.contentHeader
{
    width: 90%;
    margin: auto;
}

.contentHeader a
{
    text-decoration: none;
}
